private/
*.obj
*.exe
*.dll
*.lib
*.exp
*.manifest
*.pdb
*.ilk
*.pch
*.aps
*.ncb
*.suo
*.log
*.iobj
*.ipdb
*.ide
*.rsw
*.scc
*.sdf
*.opendb
*.VC.db
*.VC.VC.opendb
*.dSYM
ipch/
Debug/
Release/
x64/
.vs/
*.user
*.suo
*.opf
*.aps
*.vspscc
*.cache
*.tmp
*.tlog
*.vc.*.idb
*.openmp*
*.log
*.txt
*.csv